/* Master Styles */
@font-face
{
    font-family: TitleFonts;
    src: url(fonts/gumbo/Gumbo\ DEMO.otf);
}

@font-face
{
    font-family: SubtitleFonts;
    src: url(fonts/Youtube\ Star.ttf);
}

@font-face
{
    font-family: NavigationFonts;
    src: url(fonts/american_purpose/American\ Purpose.ttf)
}

body
{
    margin: 1px;
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    font-family: TitleFonts;
    
    width: 100%;
    height: 100vh;
}

.container
{
    display: grid;
    grid-template-columns: 1fr;

}

/* Navigation Styles */

.navigation 
{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.centre_side
{
    display: flex;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.navigation > .centre_side > div
{
    font-family: NavigationFonts;
    margin-right: 20px;
    font-size: 20px;
}

.navigation_link
{
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation_link a
{
    color: ivory;
    text-decoration: none;
    transition: color 0.5s;
}

/*
.navigation_link:hover
{
     border-bottom: 1px solid rgb(0, 0, 0); 
}

*/

.navigation_link a:hover
{
    color: black;
}

.home_title
{
    text-align: center;
    color: white;
    font-size: 90px;
    margin-top: 15%;
}

.home_subtitle
{
    font-family: SubtitleFonts;
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 2%;
}

/* Portfolio Styles */