/* Master Styles */
@font-face
{
    font-family: TitleFonts;
    src: url(fonts/gumbo/Gumbo\ DEMO.otf);
}

@font-face
{
    font-family: SubtitleFonts;
    src: url(fonts/Youtube\ Star.ttf);
}

@font-face
{
    font-family: NavigationFonts;
    src: url(fonts/american_purpose/American\ Purpose.ttf);
}

@font-face
{
    font-family: ParagraphFonts;
    src: url(fonts/indulta_semiserif/Indulta-SemiSerif-boldFFP.otf);
}

body
{
    margin: 0;
    padding: 0;
    font-family: TitleFonts;
    width: 100%;
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
}

.mainbody
{
    position: absolute;
    width: 100%;
    height: 2500px;
    overflow: hidden;
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
}

.portfolio_mainbody
{
    position: absolute;
    width: 100%;
    height: 3500px;
    overflow: hidden;
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
}

/* Navigation Styles */

.navigation 
{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    text-align: center;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.centre_side
{
    display: flex;
    margin: auto;
    width: 30%;
    padding: 0px;
}

.navigation > .centre_side > div
{
    font-family: NavigationFonts;
    margin-right: 20px;
    font-size: 20px;
}

.navigation_link
{
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation_link a
{
    color: ivory;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation_link a:hover
{
    color: black;
}

/* Titles and Subtitles */
.container
{
    text-align: center;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.title
{
    color: white;
    font-size: 90px;
    margin-bottom: 20px;
    animation: SmoothTitle 1.5s 1;
}

.subtitle
{
    font-family: SubtitleFonts;
    color: black;
    font-size: 50px;
    animation: SmoothSubtitle 3s 1;
}

@keyframes SmoothTitle
{
    0% {
        color: #ffffff00;
        margin-bottom: -40px;
    }
    30%
    {
        letter-spacing: 5px;
        margin-bottom: -40px;
    }
}

@keyframes SmoothSubtitle
{
    0% {
        color: #ffffff00;
        margin-bottom: -40px;
    }
    50% {
        color: #ffffff00;
        margin-bottom: -40px;
    }
}

.description
{
    text-align: center;
    font-family: NavigationFonts;
    margin-top: 1000px;
    padding-right: 130px;
    padding-left: 130px;
}

.about_me
{
    font-family: NavigationFonts;
    font-size: 45px;
}

p
{
    font-size: 25px;
    font-family: ParagraphFonts;
}

button
{
    background: linear-gradient(to left, rgb(38, 19, 105), rgb(146, 76, 163));
    border: none;
    color: ivory;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: ParagraphFonts;
    border-radius: 12px;
    transition: color 0.5s;
}

button:hover
{
    background: linear-gradient(to left, rgb(101, 72, 207), rgb(198, 112, 219));
    color: rgb(42, 13, 75);
}

.get_in_touch
{
    margin-top: 450px;
    font-family: NavigationFonts;
    font-size: 45px;
}